@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.cabecalho{
    display: flex;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.123);
}

.sub1{
    margin-left: 200px;
    margin-top: 20px;
}

.sub2{
    margin-left: 400px;
    border: #11a123;
    border-radius: 15px;
    background-color: #11a123;
    width: 230px;
    padding-left: 25px;
    height: 30px;
    margin-top:20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.img1 img{
    width: 20px;
    margin-top: -6px;
    padding: 20px;
    border-radius: 100px;
    background-color: #11a123;
    margin-top: 5px;
}

.img1{
    margin-left:100px;
}

.logo img{
    position: absolute;
    padding-left: 500px;
    margin-top: 4px;
}

.direita{
    margin-top: 10px;
    padding-left: 1100px;
}

.direita img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    padding: 4px;

}

.direita2{
    padding-left: 1105px;
    margin-top: -10px;
}

.direita2 img{
    width: 30px;
    height: 30px;
}

.telefone{
    font-size: 20px;
    margin-top: -40px;
    padding: 10px;
    padding-left: 1140px;
}

.email{
    font-size: 20px;
    padding-left: 1140px;
    margin-top: -30px;
}

.ajudar{
    margin-left: 1500px;
    margin-right: 240px;
    margin-top: -70px;
    padding-left: 10px;
    font-size: 25px;
    border-radius: 20px;
    background-color: #11a123;
}

hr{
    margin-top: 50px;
}

.lista{
    display: flex;
    list-style: none;
    margin-top: -20px;
    padding: 10px;
    padding-left: 400px;
}

.lista li{
    padding: 20px;
    border: 1px solid black;
}

.lista a{
    text-decoration: none;
    color: black;
}

.foto1{
    margin-top: -11px;
}

.fotos img{
    width: 400px;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    margin-top: 50px;
}

.fotos{
    display: flex;
}

.fotos2 img{
    width:400px;
    display: flex;
    padding: 10px;
    border-radius: 15px;

}

.fotos2{
    display: flex;
}

.meio{
    padding-left: 1150px;
    text-align: center;
    margin-top: 150px;
    position: absolute;
}

.meio a{
    margin-top: 50px;
    font-size: 30px;
    background-color: #11a123;
    border-radius: 100px;
    color: black;
    text-decoration: none;
}

#oficina{
    top:1260px;
    position: absolute;
    left: 15px;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid;
    text-align: center;
}

#voar{
    top:1260px;
    position: absolute;
    left: 435px;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid;
    text-align: center;
}

#brincar{
    top:1550px;
    position: absolute;
    left: 15px;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid;
    text-align: center;
    
}

#leitura{
    top:1550px;
    position: absolute;
    left: 435px;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid;
    text-align: center;
}

.fotos4 h2{
    text-align: center;
    color: #11a123;
    padding: 20px;
}

.fotos4 h1{
    text-align: center;
}

.fotos4{
    background-color: rgb(223, 223, 223);
    text-align: center;
    margin-top: 50px;
}

.fotos4 img{
    width: 300px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 40px;
}

.fotos4 h3{
    font-size: 25px;
    border: #11a123;
    border-radius: 20px;
    background-color:#11a123;
    margin-left: 1350px;
    margin-right: 400px;
}

.final{
    padding: 20px;
    margin-top: -25px;
}
.rodape{
    text-align: center;
    font-size: 8px;
    color:white ;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 890px;
    margin-top: -10px;
}

.rodape img{
    width: 20px;
    padding-left: 15px;
}