@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.cabecalho{
    display: flex;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.123);
}

.sub1{
    margin-left: 200px;
    margin-top: 20px;
}

.sub2{
    margin-left: 400px;
    border: #11a123;
    border-radius: 15px;
    background-color: #11a123;
    width: 230px;
    padding-left: 25px;
    height: 30px;
    margin-top:20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.img1 img{
    width: 20px;
    margin-top: -6px;
    padding: 20px;
    border-radius: 100px;
    background-color: #11a123;
    margin-top: 5px;
}

.img1{
    margin-left:100px;
}

.logo img{
    position: absolute;
    padding-left: 500px;
    margin-top: 4px;
}

.direita{
    margin-top: 10px;
    padding-left: 1100px;
}

.direita img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    padding: 4px;

}

.direita2{
    padding-left: 1105px;
    margin-top: -10px;
}

.direita2 img{
    width: 30px;
    height: 30px;
}

.telefone{
    font-size: 20px;
    margin-top: -40px;
    padding: 10px;
    padding-left: 1140px;
}

.email{
    font-size: 20px;
    padding-left: 1140px;
    margin-top: -30px;
}

.ajudar{
    margin-left: 1500px;
    margin-right: 240px;
    margin-top: -70px;
    padding-left: 10px;
    font-size: 25px;
    border-radius: 20px;
    background-color: #11a123;
}

hr{
    margin-top: 50px;
}

.lista{
    display: flex;
    list-style: none;
    margin-top: -20px;
    padding: 10px;
    padding-left: 400px;
}

.lista li{
    padding: 20px;
    border: 1px solid black;
}


.lista a{
    text-decoration: none;
    color: black;
}

.text1{
 background-color: #11a123;
    padding-left: 100px;
    margin-top: -32px;
}

.text1{
    height: 200px;
}

.text1 h1{
    padding: 75px;
    padding-left: 300px;
    color: white;
}